/* setting the color palette */
html {
  --dark-gray: rgb(90, 90, 90);
  --light-gray: rgb(148, 148, 148);
  --focus-blue: rgb(69, 159, 189);
}

/* App */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

header img {
  margin-right: 10px;
}

header input {
  flex-grow: 1;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center; */
}

.initial-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  text-align: center;
}

.logo {
  img {
    width: 200px;
  }
}

.bold {
  font-weight: bold;
}

.pt-2 {
  padding-top: 20px;
}

/***************************
*
* Styling search container
*
****************************/

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.search-container button:hover {
  background-color: #357ae8;
}

.search-container button:disabled {
  opacity: 0.2;
  background-color: grey;
  cursor: default;
}

/***************************
*
* Styling search input
*
****************************/

.searchbox {
  --target-size: 48px;
  --box-height: var(--target-size);
  --border-radius: calc(var(--box-height) / 2);
  --border-width: 2px;
  --icon-size: calc(var(--box-height) * 3/4);
  --side-margin: calc(var(--border-radius) / 2);
  --icon-vertical-margin: calc((var(--box-height) - var(--icon-size)) / 2);
}

.searchbox {
  height: var(--box-height);
  /* width: 561px; */
  min-width: 375px;
  max-width: 90%;
}

.searchbox input[type="search"] {
  border: var(--border-width) solid var(--dark-gray);
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
}

.searchbox svg {
  fill: var(--dark-gray);
  height: var(--icon-size);
  width: var(--icon-size);
}

.searchbox input[type="search"] {
  -webkit-appearance: none;
  color: var(--dark-gray);
  font-family: 'Noto Sans', Verdana, sans-serif;
  font-size: 1rem;
}

.searchbox input[type="search"]::placeholder {
  color: var(--light-gray);
  opacity: 1;
}

.searchbox {
  position: relative;
}

.searchbox svg {
  position: absolute;
  left: var(--side-margin);
  top: var(--icon-vertical-margin);
  bottom: var(--icon-vertical-margin);
}

.searchbox input[type="search"] {
  padding-left: calc(var(--side-margin) + var(--icon-size) + 4px);
  padding-right: var(--side-margin);
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.searchbox svg {
  z-index: -1;
}

.searchbox input[type="search"] {
  background: transparent;
}

.searchbox input[type="search"]:focus {
  border-color: var(--focus-blue);
  box-shadow: 0px 0px 5px var(--focus-blue);
  outline: 1px solid transparent;
}

.searchbox input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(148, 148, 148)' %3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z' /%3E%3C/svg%3E%0A");
  height: calc(var(--box-height) / 2);
  width: calc(var(--box-height) / 2);
}

input[type="search"] {
  -webkit-tap-highlight-color: transparent;
}

/***************************
*
* Styling results container
*
****************************/

.results {
  flex: 2;
  padding: 20px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results .result {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result .url {
  color: grey;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.result .url:hover {
  text-decoration: underline;
}

.result .title {
  font-size: 18px;
  font-weight: bold;
  color: #1a0dab;
  margin-bottom: 5px;

  &.grey {
    color: #4d5156;
  }
}

.result .title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.result .description {
  font-size: 14px;
  color: #4d5156;
}

.results li:hover {
  background-color: #f0f0f0;
}

.no-results {
  height: calc(100vh - 170px);
}

/***************************
*
* Styling details container
*
****************************/

.details {
  display: block;
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
}

.details img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.details p {
  margin-top: 10px;
}

/***************************
*
* Styling for mobile size (responsive)
*
****************************/
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding: 20px;
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .overlay.show {
    display: block;
  }

}